<div>
    <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
    </ng-container>

    <div>
        <button  class="btn btn-link" (click)="addProduct()">
            Add New +
        </button>
    </div>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products$ | async">
        <thead>
            <tr>
                <th>Image</th>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Company</th>
                <th>Age Restriction</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products$ | async">
                <td><img class="image" src="{{product.apiUrl + product.imageUrl}}" alt="Product Image"></td>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.company}}</td>
                <td>{{product.ageRestriction}}</td>
                <td>{{product.price | currency}}</td>
                <td>
                    <button class="btn btn-link" (click)="editProduct(product)">Editar</button>
                    <button class="btn btn-link" (click)="confirmDeleteProduct(product)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>