<div class="modal-header">
    <h4 class="modal-title">REGISTRAR PRODUCTO</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Descartado')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<ng-container *ngIf="isLoading$ | async">
    <span class="spinner spinner-primary ml-5"></span>
</ng-container>
<!-- Scrollable modal -->
<div class="modal-body">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <label>
            Id:
            <input type="text" formControlName="id">
        </label>
        <div *ngIf="productForm.get('id').invalid && 
                productForm.get('id').errors && 
               (productForm.get('id').dirty || 
                productForm.get('id').touched)">
            <small class="text-danger" *ngIf="productForm.get('id').hasError('required')">
                This field is required.
            </small>
        </div>

        <label>
            Name:
            <input type="text" formControlName="name">
        </label>
        <div *ngIf="productForm.get('id').invalid && 
                productForm.get('id').errors && 
               (productForm.get('id').dirty || 
                productForm.get('id').touched)">
            <small class="text-danger" *ngIf="productForm.get('name').hasError('required')">
                This field is required.
            </small>
            <small class="text-danger" *ngIf="productForm.get('name').hasError('minlength')">
                The minimum length for this field is {{productForm.get('name').errors.minlength.requiredLength}}
                characters.
            </small>
            <small class="text-danger" *ngIf="productForm.get('name').hasError('maxlength')">
                The maximum length for this field is {{productForm.get('name').errors.maxlength.requiredLength}}
                characters.
            </small>
        </div>
        <label>
            Description:
            <input type="text" formControlName="description">
        </label>
        <div *ngIf="productForm.get('description').invalid && 
                productForm.get('description').errors && 
               (productForm.get('description').dirty || 
                productForm.get('description').touched)">
            <small class="text-danger" *ngIf="productForm.get('description').hasError('minlength')">
                The minimum length for this field is {{productForm.get('description').errors.minlength.requiredLength}}
                characters.
            </small>
            <small class="text-danger" *ngIf="productForm.get('description').hasError('maxlength')">
                The maximum length for this field is {{productForm.get('description').errors.maxlength.requiredLength}}
                characters.
            </small>
        </div>
        <label>
            Age Restriction:
            <input type="text" formControlName="ageRestriction">
        </label>
        <div *ngIf="productForm.get('ageRestriction').invalid && 
                productForm.get('ageRestriction').errors && 
               (productForm.get('ageRestriction').dirty || 
                productForm.get('ageRestriction').touched)">
            <small class="text-danger" *ngIf="productForm.get('ageRestriction').hasError('min')">
                The minimum length for this field is {{productForm.get('ageRestriction').errors.min.min}}.
            </small>
            <small class="text-danger" *ngIf="productForm.get('ageRestriction').hasError('max')">
                The maximum length for this field is {{productForm.get('ageRestriction').errors.max.max}}.
            </small>
        </div>
        <label>
            Company:
            <input type="text" formControlName="company">
        </label>
        <div *ngIf="productForm.get('company').invalid && 
                productForm.get('company').errors && 
               (productForm.get('company').dirty || 
                productForm.get('company').touched)">
            <small class="text-danger" *ngIf="productForm.get('company').hasError('required')">
                This field is required.
            </small>
            <small class="text-danger" *ngIf="productForm.get('company').hasError('minlength')">
                The minimum length for this field is {{productForm.get('company').errors.minlength.requiredLength}}
                characters.
            </small>
            <small class="text-danger" *ngIf="productForm.get('company').hasError('maxlength')">
                The maximum length for this field is {{productForm.get('company').errors.maxlength.requiredLength}}
                characters.
            </small>
        </div>
        <label>
            Price:
            <input type="text" formControlName="price">
        </label>
        <div *ngIf="productForm.get('price').invalid && 
                productForm.get('price').errors && 
               (productForm.get('price').dirty || 
                productForm.get('price').touched)">
            <small class="text-danger" *ngIf="productForm.get('price').hasError('min')">
                The minimum length for this field is {{productForm.get('price').errors.min.min}}.
            </small>
            <small class="text-danger" *ngIf="productForm.get('price').hasError('max')">
                The maximum length for this field is {{productForm.get('price').errors.max.max}}.
            </small>
        </div>
        <label>
            Profile Picture:
            <input formControlName="image" type="file" accept=".jpg" name="file"
                (change)="selectFile($event.target.files)" />
            <div *ngIf="productForm.get('image').invalid && 
                    productForm.get('image').errors && 
                   (productForm.get('image').dirty || 
                    productForm.get('image').touched)">
                <small class="text-danger" *ngIf="productForm.get('image').hasError('required')">
                    This field is required.
                </small>
            </div>
        </label>
        <br />
        <div *ngIf="file" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
                [ngStyle]="{ width: progress + '%' }">
                {{ progress }}%
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" [disabled]="!productForm.valid">Submit</button>
        </div>
    </form>   
</div>