<div class="modal-header">
  <h4 class="modal-title">Create Product</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismissed')">
      <span aria-hidden="true">&times;</span>
  </button>
</div>

<ng-container *ngIf="isLoading$ | async">
  <span class="spinner spinner-primary ml-5"></span>
</ng-container>

<!-- Scrollable modal -->
<div class="modal-body">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="row">

      <!-- Image Preview (Left Column) -->
      <div class="col-md-4">
        <div *ngIf="!imagePreviewUrl" class="form-group">
          <label for="imagePreview">Product Picture:</label>
          <!-- Placeholder Image -->
          <img src="https://localhost:5001/images/no-selected.jpg" class="img-fluid" alt="Image Placeholder" loading="lazy"/>
        </div>
        <div *ngIf="imagePreviewUrl" class="form-group">
          <label for="imagePreview">Profile Picture:</label>
          <img [src]="imagePreviewUrl" class="img-fluid" alt="Image Preview"/>
        </div>
      </div>

      <!-- Form Fields (Right Column) -->
      <div class="col-md-8">

        <!-- Name Field -->
        <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" type="text" formControlName="name" class="form-control">
            <div *ngIf="productForm.get('name')?.invalid &&
                        (productForm.get('name')?.dirty || productForm.get('name')?.touched)">
                <small class="text-danger" *ngIf="productForm.get('name')?.hasError('required')">
                    This field is required.
                </small>
                <small class="text-danger" *ngIf="productForm.get('name')?.hasError('minlength')">
                    The minimum length for this field is {{ productForm.get('name')?.errors?.['minlength'].requiredLength }} characters.
                </small>
                <small class="text-danger" *ngIf="productForm.get('name')?.hasError('maxlength')">
                    The maximum length for this field is {{ productForm.get('name')?.errors?.['maxlength'].requiredLength }} characters.
                </small>
            </div>
        </div>

        <!-- Description Field -->
        <div class="form-group">
            <label for="description">Description:</label>
            <input id="description" type="text" formControlName="description" class="form-control">
            <div *ngIf="productForm.get('description')?.invalid &&
                        (productForm.get('description')?.dirty || productForm.get('description')?.touched)">
                <small class="text-danger" *ngIf="productForm.get('description')?.hasError('minlength')">
                    The minimum length for this field is {{ productForm.get('description')?.errors?.['minlength'].requiredLength }} characters.
                </small>
                <small class="text-danger" *ngIf="productForm.get('description')?.hasError('maxlength')">
                    The maximum length for this field is {{ productForm.get('description')?.errors?.['maxlength'].requiredLength }} characters.
                </small>
            </div>
        </div>

        <!-- Age Restriction Field -->
        <div class="form-group">
            <label for="ageRestriction">Maximum Age:</label>
            <input id="ageRestriction" type="number" formControlName="ageRestriction" class="form-control">
            <div *ngIf="productForm.get('ageRestriction')?.invalid &&
                        (productForm.get('ageRestriction')?.dirty || productForm.get('ageRestriction')?.touched)">
                <small class="text-danger" *ngIf="productForm.get('ageRestriction')?.hasError('min')">
                    The minimum value for this field is {{ productForm.get('ageRestriction')?.errors?.['min'].min }}.
                </small>
                <small class="text-danger" *ngIf="productForm.get('ageRestriction')?.hasError('max')">
                    The maximum value for this field is {{ productForm.get('ageRestriction')?.errors?.['max'].max }}.
                </small>
            </div>
        </div>

        <!-- Company Field -->
        <div class="form-group">
            <label for="company">Company:</label>
            <input id="company" type="text" formControlName="company" class="form-control">
            <div *ngIf="productForm.get('company')?.invalid &&
                        (productForm.get('company')?.dirty || productForm.get('company')?.touched)">
                <small class="text-danger" *ngIf="productForm.get('company')?.hasError('required')">
                    This field is required.
                </small>
                <small class="text-danger" *ngIf="productForm.get('company')?.hasError('minlength')">
                    The minimum length for this field is {{ productForm.get('company')?.errors?.['minlength'].requiredLength }} characters.
                </small>
                <small class="text-danger" *ngIf="productForm.get('company')?.hasError('maxlength')">
                    The maximum length for this field is {{ productForm.get('company')?.errors?.['maxlength'].requiredLength }} characters.
                </small>
            </div>
        </div>

        <!-- Price Field -->
        <div class="form-group">
            <label for="price">Price:</label>
            <input id="price" type="number" formControlName="price" class="form-control">
            <div *ngIf="productForm.get('price')?.invalid &&
                        (productForm.get('price')?.dirty || productForm.get('price')?.touched)">
                <small class="text-danger" *ngIf="productForm.get('price')?.hasError('min')">
                    The minimum value for this field is {{ productForm.get('price')?.errors?.['min'].min }}.
                </small>
                <small class="text-danger" *ngIf="productForm.get('price')?.hasError('max')">
                    The maximum value for this field is {{ productForm.get('price')?.errors?.['max'].max }}.
                </small>
            </div>
        </div>

        <!-- Profile Picture Upload -->
        <div class="form-group">
            <label for="image">Profile Picture:</label>
            <input id="image" formControlName="image" class="form-control-file" type="file" accept=".jpg" (change)="selectFile($event)" />
            <div *ngIf="productForm.get('image')?.invalid &&
                        (productForm.get('image')?.dirty || productForm.get('image')?.touched)">
                <small class="text-danger" *ngIf="productForm.get('image')?.hasError('required')">
                    This field is required.
                </small>
            </div>
        </div>

        <!-- File Upload Progress -->
        <div *ngIf="file" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
                [ngStyle]="{ width: progress + '%' }">
                {{ progress }}%
            </div>
        </div>

        <!-- Submit Button -->
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary mb-2" [disabled]="!productForm.valid">Submit</button>
        </div>

      </div>

  </form>
</div>
