<h1>Hello</h1>
<p>Welcome to Toys and Games, built with simple:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Products</em> then <em>Back</em> to return here.</li>
  <li><strong>Simple CRUD Operations</strong> to create, edit and delete products.</li>
  <li><strong>Products Images Handling</strong>. You should be able to add and edit the product's images.</li>
  <li><strong>Repository pattern</strong> implemented.</li>
  <li><strong>Testing Options</strong> will be implemented soon!</li>
</ul>
<p>To run this app, you should execute <code>runProject</code> file, this is a <strong>.bat</strong> file that includes simple commands to run the project. </p>
